/*  your css code here. If applicable */


*{
	background-color:#f5f5f5;
	
	
/* 	border:2px solid red; */
}
h2{
	background-color:#011e29;
	margin:20px;
	color:white;
	height:50px;
	display:flex;
	align-items:center;
	justify-content:center;	
}
.header{
	display:flex;
	justify-content:flex-start;
	justify-content:space-around;
}
.card-container-1{
	padding:20px;
	background-color:white;
	width:200px;
	margin:20px;
	border-radius:20px;
	height:140px;
	
}
.main-article-section{
	padding:20px;
	background-color:white;
	width:300px;
	margin:20px;
	border-radius:20px;
	height:220px;
	
}
.pictorial-news-section{
	padding:20px;
	background-color:white;
	width:230px;
	margin:20px;
	border-radius:20px;
	height:400px;
	
}
h3{
	text-align:center;
	padding:5px;
	background-color:white;
	
}